body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: auto;
}

html, body { height: 100%;}

html {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

body > footer {
  position: sticky;
  top: 100vh;
}

h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
}

/* sales data  */

table {
    margin: auto; 
    /* centers the table, by contents filling up each side*/
    border-spacing: 0px;
    border-radius: 10px;
}

table, th, td {
    border: .5px solid black;
}

th, td {
    padding: 1rem;
    background-color:  #CFBFA7;
    color: white;
}

td {
    background-color:  #CFBFA7;
    color: white;
}

#homepage {
    margin-top: 20px;
    text-align: center;
    color: salmon;
}

a {
    text-decoration: none;
    color: white;
}

/* main page */

#header {
    display: flex;
    justify-content: center;
    background-color: #EA9999;
    height: 70px;
}

#storename {
    margin-top: 18px;
    margin-right: 10px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#intro {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #EA9999;
    margin-top: 30px;
    font-size: 30px;
    align-items: center;
}

#menu {
    text-align: center;
    font-size: 30px;
    color: #EA9999;
    margin-bottom: 20px;
}

#salmon {
    margin-top: 15px;
    height: 250px;
    width: 500px;
}

li {
    display: inline-block;
    padding: 18px;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color: #EA9999;
    color: white;
    height: 30px;
    padding: 5px;
    font-weight: bold;
}

#newStore {
    margin: auto;
    text-align: center;
    width: 500px;
    border: 1.5px solid #CFBFA7;
}


/* menu items  */

#flavor1 {
    display: flex;
    color: #797545;
    margin-right: 150px;
    margin-left: 50px;
}

#matcha {
    width: 0px;
}

#matchatxt {
    margin-top: -25px;
    text-align: center;
}

#flavor2 {
    display: flex;
    color: #C7B889;
    margin-right: 200px;
}

#vanilla {
    width: 30px;
}

#vanillatxt {
    margin-top: -25px;
    text-align: center;
}

#flavor3 {
    display: flex;
    color: #E68585;
    margin-right: -10px;
}

#redbean {
    width: 30px;
}

#redbeantxt {
    margin-top: -25px;
    text-align: center;
}

#menulist {
    display: flex;
    width: 80%;
}

/* contact */

#globe {
    height: 300px;
}

#locations {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: flex;
    color: #EA9999;
}

#locationlist {

    font-size: 20px;
}

#phone {
    height: 300px;
}

#contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    color: #EA9999;
    width: 60%;
}

#contactlist {
    line-height: 0px;
    font-size: 20px;
}

#hours {
    color:#EA9999;
    margin-bottom: 30px;
}

/* about page */

#baker {
    height: 400px;
}

#bio {
    display: flex;
    color: #EA9999;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
}

#boy {
    height: 400px;
}

#first {
    display: flex;
    color: #EA9999;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
}

#bio2 {
    margin: auto;
}

#bio3 {
    margin: auto;
}